body	{	font-family: verdana,helvetica;
		font-style: roman;
		font-weight: medium;
		font-size: 11px;
		color: #000000;
		background-color: #ffffff
	}

td	{	vertical-align: top;
		align: left;
		font-family: verdana,helvetica;
		font-style: roman;
		font-weight: medium;
		font-size: 11px;
		color: #000000;
		background-color: #ffffff
	}

a	{	text-decoration: none;
		color: #148890
	}

a:hover	{	text-decoration: underline
	}

h1	{	font-family: verdana,helvetica;
		font-style: roman;
		font-weight: bold;
		font-size: 16px;
		color: #000000
	}

h2	{	font-family: verdana,helvetica;
		font-style: roman;
		font-weight: bold;
		font-size: 13px;
		color: #000000
	}

h3	{	font-family: verdana,helvetica;
		font-style: roman;
		font-weight: bold;
		font-size: 12px;
		color: #000000
	}
